@import "bootstrap.scss";

body {
  margin:20px;
  color:black;
}
.location {
  font-weight:normal;
  font-family:monospace;
  letter-spacing:0.1ex;
}
.sheet {
  clear:both;
  width:100%;
  margin-bottom:40px;
}
.sheet table {
  width:100%;
}
.sheet th, .sheet td {
  border:1px solid black;
  border-collapse:collapse;
}
.sheet thead .fake-header th {
  padding-bottom:10px;
}
.sheet tfoot td {
  padding-top:10px;
}
.sheet thead .fake-header th,
.sheet tfoot td {
  border:none;
}
.sheet td {
  padding:5px;
  width:18%;
}
.sheet th {
  text-align:left;
  padding:5px;
}
.sheet .fake-header .name {
  text-align:right;
}
.sheet .code {
  font-size:1.5em;
  letter-spacing: 0.2ex;
}
.sheet .mobile {
  width:100px;
  height:200px;
  float:right;
  text-align:center;
  padding-top:25px;
}
.sheet .scores {
  width:calc(100% - 110px);
}
.positions td {
  border:none;
  text-align: center;
  padding:0;
}
.sheet img {
  margin:-7px 5px 0 0;
}

@media print {
  body,html {
    padding:0;
    margin:0;
  }
  .sheet {
    margin-bottom:5px;
  }
  .sheet:nth-child(4n) {
    page-break-after: always;
    &:last-child {
      page-break-after: auto;
    }
  }
  .positions td {
    font-size:10px;
  }
}
@page {
  margin: 1cm;
}
