.container {
  max-width:730px;
  margin:15px auto;
}

tr.state-inactive {
  background:#eee;
}
table form,
table label {
  margin:0;
  font-weight:normal;
}

.table.table-vertical-center > tbody > tr > td {
  vertical-align: middle;
}


/* States */
.state-inactive {
  color:#999;
}
li.state-active, a.state-active {
  color:#468847;
}
