@import "bootstrap.scss";
@import "navbar.scss";

.container {
  max-width:730px;
  margin:15px auto;
}

.text-blob {
  padding:0 15px;
}

tr.state-inactive {
  background:#eee;
}
table form,
table label {
  margin:0;
  font-weight:normal;
}

.table.table-vertical-center > tbody > tr > td {
  vertical-align: middle;
}

.navbar-brand img {
  position:relative;
  top:-5px;
}

// Timeline
.timeline-cell {
  width:180px;
}
.timeline {
  width:180px;
  position:relative;
  height:20px;
  background:#d9edf7;
  overflow:hidden;
  border-radius:2px;
  .timeline-entry {
    position:absolute;
    background:#31708f;
    height:20px;
    top:0;
    width:6px;
    margin-left:-3px;
    &.first {
      margin-left:0;
    }
    &.last {
      margin-left:-6px;
    }
  }
}

/* States */
.state-inactive {
  color:#999;
}
li.state-active, a.state-active {
  color:#468847;
}

// Smaller headers for phones
@media screen and (max-width: 400px) {
  h2 {
    font-size:24px;
  }
  h3 {
    font-size:18px;
  }
  h4 {
    font-size:14px;
  }
  .timeline-cell {
    display:none;
  }
}
