@import "bootstrap.scss";

body {
  margin:20px;
  color:black;
}
.location {
  font-weight:normal;
  font-family:monospace;
  letter-spacing:0.1ex;
}
.sheet {
  clear:both;
  width:100%;
  margin-bottom:40px;
}
.sheet table {
  width:100%;
  table-layout:fixed;
}
.sheet th, .sheet td {
  border:1px solid black;
  border-collapse:collapse;
}
.sheet thead .fake-header th {
  padding-bottom:10px;
  font-weight:normal;
}
.sheet tfoot td {
  padding-top:5px;
}
.sheet thead .fake-header th,
.sheet tfoot td {
  border:none;
}
.sheet td {
  padding:5px;
}
.sheet th {
  text-align:left;
  padding:5px;
}
.sheet .fake-header .name {
  text-align:right;
}
.sheet .scores {
  position:relative;
}
.player-name {
  min-width:18%;
}
.sheet .scores > table > tbody > tr > td {
  width:calc(20% - 10px);
}
.positions td {
  width:auto;
  border:none;
  text-align: center;
  padding:0;
}
.sheet img {
  margin:-7px 5px 0 0;
}
.code-cell {
  position:absolute;
  top:3px;
  left:50%;
  margin-left:-45px;
  text-align:middle;
  font-size:1.2em;
  b {
    letter-spacing:0.2ex;
    text-transform: uppercase;
  }
}

@media print {
  body,html {
    padding:0;
    margin:0;
  }
  .sheet {
    margin-bottom:22px;
  }
  .sheet:nth-child(4n) {
    margin-bottom: 0;
    page-break-after: always;
    &:last-child {
      page-break-after: auto;
    }
  }
  .positions td {
    font-size:10px;
  }
}
@page {
  margin: 1cm;
}
