$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import "bootstrap.scss";
@import "navbar.scss";

/* Space out content a bit */
body {
  padding-top:20px;
  padding-bottom:20px;
}

.footer {
  color:#777;
}

.container-narrow > hr {
  margin:30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width:730px;
  }
}

.navbar-brand img {
  position:relative;
  top:-5px;
}

.table.table-vertical-center > tbody > tr > td {
  vertical-align: middle;
}

.table.table-unstyled {
  width:auto;
  > tbody > tr > td {
    border:none;
    &:first-child {
      padding-left:0;
    }
  }
}

// Smaller headers for phones
@media screen and (max-width: 400px) {
  h2 {
    font-size:24px;
  }
  h3 {
    font-size:18px;
  }
  h4 {
    font-size:14px;
  }
}

// Own grid
.container {
  @include container-fixed();

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}

// Ajax loading indicator
.loading-indicator-wrapper {
  display:none;
  position:absolute;
  top:0;
  right:0;
  width:40px;
  height:5px;
}
.loading-indicator {
  position:relative;
  width:40px;
  height:5px;
  top:22px;
  left:-5px;
  > div {
    position:absolute;
    top:0;
    background-color:#f8981d;
    width:5px;
    height:5px;
    -webkit-animation-name:bounce_fadingBarsG;
    -webkit-animation-duration:0.8s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -webkit-transform:scale(.3);
    animation-name:bounce_fadingBarsG;
    animation-duration:0.8s;
    animation-iteration-count:infinite;
    animation-direction:linear;
    transform:scale(.3);
  }
}

.bar-1{
  left:0;
  -webkit-animation-delay:0.32s;
  animation-delay:0.32s;
}

.bar-2{
  left:5px;
  -webkit-animation-delay:0.4s;
  animation-delay:0.4s;
}

.bar-3{
  left:10px;
  -webkit-animation-delay:0.48s;
  animation-delay:0.48s;
}

.bar-4{
  left:15px;
  -webkit-animation-delay:0.56s;
  animation-delay:0.56s;
}

.bar-5{
  left:20px;
  -webkit-animation-delay:0.64s;
  animation-delay:0.64s;
}

.bar-6{
  left:25px;
  -webkit-animation-delay:0.72s;
  animation-delay:0.72s;
}

.bar-7{
  left:30px;
  -webkit-animation-delay:0.8s;
  animation-delay:0.8s;
}

.bar-8{
  left:35px;
  -webkit-animation-delay:0.88s;
  animation-delay:0.88s;
}

@-webkit-keyframes bounce_fadingBarsG{
  0%{
    -webkit-transform:scale(1);
    background-color:#f8981d;
  }

  100%{
    -webkit-transform:scale(.3);
    background-color:#f8f8f8;
  }
}

@keyframes bounce_fadingBarsG{
  0%{
    transform:scale(1);
    background-color:#f8981d;
  }

  100%{
    transform:scale(.3);
    background-color:#f8f8f8;
  }
}
