@import "bootstrap.scss";
@import "navbar.scss";

/* Space out content a bit */
body {
  padding-top:20px;
  padding-bottom:20px;
}

.footer {
  color:#777;
}

.container-narrow > hr {
  margin:30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width:730px;
  }
}

.navbar-brand img {
  position:relative;
  top:-5px;
}

.table.table-vertical-center > tbody > tr > td {
  vertical-align: middle;
}

.table.table-unstyled {
  width:auto;
  > tbody > tr > td {
    border:none;
    &:first-child {
      padding-left:0;
    }
  }
}

.first-rookie {
  .player-icon {
    color:#EAC117;
  }
}
.player-icon {
  color:#aaa;
  font-size:11px;
}
.index-cell {
  width:2ex;
  text-align:right;
  font-weight:bold;
}

.section {
  margin:0 0 30px 0;
}

// Smaller headers for phones
@media screen and (max-width: 400px) {
  h2 {
    font-size:24px;
  }
  h3 {
    font-size:18px;
  }
  h4 {
    font-size:14px;
  }

  .table-scores {
    th,td {
      font-size:0.8em;
    }
  }
}

// Own grid
.container {
  @include container-fixed();

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}

// Landscape tips
.landscape-tip {
  display: none;
}
@media only screen and (orientation:portrait) and (max-width: 400px) {
  .landscape-tip {
    display:block;
  }
}
@media only screen and (orientation:landscape) and (max-width: 400px) {
  .landscape-tip {
    display:none;
  }
}

// Dropdowns
.dropdown-right {
  float:right;
}

// Ajax loading indicator
.loading-indicator-wrapper-wrapper {
  display:none;
}
.loading-indicator-block-ui {
  position:absolute;
  top:0;
  left:0;
  background:white;
  width:100%;
  height:100%;
  z-index:100;
  opacity:0.7;
}
.loading-indicator-wrapper {
  position:fixed;
  top:0;
  right:0;
  width:100%;
  height:15px;
  z-index:1000;

  background:black;
  opacity:0.4;
}
.loading-indicator {
  position:absolute;
  width:40px;
  height:5px;
  top:50%;
  left:50%;
  margin-top:-3px;
  margin-left:-20px;
  > div {
    position:absolute;
    top:0;
    background-color:#f8981d;
    width:5px;
    height:5px;
    -webkit-animation-name:bounce_fadingBarsG;
    -webkit-animation-duration:0.8s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -webkit-transform:scale(.3);
    animation-name:bounce_fadingBarsG;
    animation-duration:0.8s;
    animation-iteration-count:infinite;
    animation-direction:linear;
    transform:scale(.3);
  }
}

.bar-1{
  left:0;
  -webkit-animation-delay:0.32s;
  animation-delay:0.32s;
}

.bar-2{
  left:5px;
  -webkit-animation-delay:0.4s;
  animation-delay:0.4s;
}

.bar-3{
  left:10px;
  -webkit-animation-delay:0.48s;
  animation-delay:0.48s;
}

.bar-4{
  left:15px;
  -webkit-animation-delay:0.56s;
  animation-delay:0.56s;
}

.bar-5{
  left:20px;
  -webkit-animation-delay:0.64s;
  animation-delay:0.64s;
}

.bar-6{
  left:25px;
  -webkit-animation-delay:0.72s;
  animation-delay:0.72s;
}

.bar-7{
  left:30px;
  -webkit-animation-delay:0.8s;
  animation-delay:0.8s;
}

.bar-8{
  left:35px;
  -webkit-animation-delay:0.88s;
  animation-delay:0.88s;
}

@-webkit-keyframes bounce_fadingBarsG{
  0%{
    -webkit-transform:scale(1);
    background-color:#f8981d;
  }

  100%{
    -webkit-transform:scale(.3);
    background-color:#f8f8f8;
  }
}

@keyframes bounce_fadingBarsG{
  0%{
    transform:scale(1);
    background-color:#f8981d;
  }

  100%{
    transform:scale(.3);
    background-color:#f8f8f8;
  }
}
