$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import "bootstrap.scss";
@import "navbar.scss";

/* Space out content a bit */
body {
  padding-top:20px;
  padding-bottom:20px;
}

.footer {
  color:#777;
}

.container-narrow > hr {
  margin:30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width:730px;
  }
}

.navbar-brand img {
  position:relative;
  top:-5px;
}

.table.table-vertical-center > tbody > tr > td {
  vertical-align: middle;
}

.table.table-unstyled {
  width:auto;
  > tbody > tr > td {
    border:none;
    &:first-child {
      padding-left:0;
    }
  }
}

// Smaller headers for phones
@media screen and (max-width: 400px) {
  h2 {
    font-size:24px;
  }
  h3 {
    font-size:18px;
  }
  h4 {
    font-size:14px;
  }
}

// Own grid
.container {
  @include container-fixed();

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}
