<div ng-if="game.code">
  <h2>{{game.group.name}}: {{game.machine.name}}</h2>
  <h4>Picked by {{game.player.display_name}}</h4>

  <form>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Position</th>
          <th>Player</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="result in game.results">
          <td>Player {{result.delta+1}}</td>
          <td>{{result.player.display_name}}</td>
          <td>
            <select class="form-control input-sm" ng-disabled="game.status === 'completed'" ng-required ng-model="result.position" ng-options="position.id as position.title for position in positions">
              <option value="">-- result --</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-success text-right" ng-click="storeResults()" ng-disabled="buttonDisabled" ng-show="game.status === 'active'">Save results</button>
    <a href="#/group/{{game.group.code}}">Back to group</a>
  </form>

</div>
<div ng-show="!game.code" class="text-danger">
  <h2>Game not found</h2>
  <p>Can't find this game.</p>
</div>
