<div ng-if="group.code">
  <h2>{{group.heat.name}}, {{group.name}}</h2>

  <table class="table table-unstyled table-vertical-center">
    <tr ng-repeat="player in group.players">
      <td>
        {{player.display_name}} {{gamePicked(player)}}
      </td>
      <td>
        <button class="btn btn-xs btn-danger" ng-show="!group.games.length" ng-click="removePlayer(player)">remove</button>
      </td>
    </tr>
  </table>

  <form ng-show="roomForPlayers() && !group.games.length">
    <select class="form-control input-sm" ng-required ng-model="group.newPlayer" ng-options="player as player.display_name for player in group.season.players | orderBy:'display_name'" ng-change="addPlayer()">
      <option value="">-- add player --</option>
    </select>
  </form>

  <div ng-show="group.players.length >= 3">
    <h3>Games</h3>
    <table class="table table-scores">
      <thead>
        <tr>
          <th>Player</th>
          <th ng-repeat="game in group.games" class="text-center"><a title="{{game.machine.name}}" href="#/game/{{game.code}}">{{game.machine.shortname}}</a></th>
          <th class="text-center"><b>Total</b></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in group.players">
          <td>{{player.display_name}}</td>
          <td ng-repeat="game in group.games" class="text-center">
            {{ pointsForPlayer(game.results, player.player_id) }}pt.
          </td>
          <td class="text-center">
            <b>{{ pointsForPlayer(group.points, player.player_id) }}pt.</b>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td ng-repeat="game in group.games" class="text-center"><a href="#/game/{{game.code}}">edit</a></td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>

    <form class="form-inline" ng-show="!(group.games|filter:{status:'active'}:true).length && group.games.length < 4">
      <p><b>{{nextPlayer().display_name}}</b> should select the next game:</p>
      <div class="form-group">
        <select class="form-control input-sm" ng-required ng-model="group.nextMachine" ng-options="machine as machine.name for machine in availableMachines()" ng-change="startGame()" ng-disabled="buttonDisabled()">
          <option value="">-- select machine --</option>
        </select>
      </div>
    </form>
  </div>

</div>
