<div class="player-info">
  <h2>{{player.display_name}}</h2>

  <div class="section" ng-if="group">
    <h3>Last result: {{group.heat.season.name}}, {{group.heat.name}}</h3>
    <table class="table table-scores table-condensed">
      <thead>
        <tr>
          <th>Player</th>
          <th ng-repeat="game in group.games" class="text-center" title="{{game.machine.name}}">{{game.machine.shortname}}</th>
          <th class="text-center"><b>Total</b></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in group.players" class="{{highlightRow(player)}}">
          <td>{{player.display_name}}</td>
          <td ng-repeat="game in group.games" class="text-center">
            {{ pointsForPlayer(game.results, player.player_id) }}pt.
          </td>
          <td class="text-center">
            <b>{{ pointsForPlayer(group.points, player.player_id) }}pt.</b>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="section" ng-if="machines.length > 0">
    <h3>Machine choices</h3>
    <table class="table table-striped">
      <tbody>
        <tr ng-repeat="machine in machines">
          <td>{{machine.name}}</td>
          <td class="text-center">{{machine.count}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="section" ng-if="seasons.length > 0">
    <h3>Seasons</h3>
    <ul class="list-unstyled">
      <li ng-repeat="season in seasons">{{season.name}} <span ng-if="season.pivot.rookie">as a rookie</span><span ng-if="season.pivot.guest">as a guest</span><span ng-if="season.pivot.final_position"> — Final position: {{season.pivot.final_position}}</span></li>
    </ul>
  </div>

</div>
