<table class="table table-striped">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th class="text-center" ng-repeat="heat in season.heats">{{heat.short_name}}</th>
      <th class="text-center">Score</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="seasonPoint in season.points | orderBy:'points':true">
      <td ng-bind-html="(nameForPlayer(seasonPoint.player_id))">{{ (nameForPlayer(seasonPoint.player_id)) }}</td>
      <td class="text-center" ng-repeat="heat in season.heats">
        {{pointsForPlayerForHeat(heat.points, seasonPoint.player_id)}}
      </td>
      <td class="text-center"><b>{{seasonPoint.points}}</b></td>
    </tr>
  </tbody>
</table>
