<div class="landscape-tip alert alert-info"><b>Tip:</b> Rotate your phone to landscape mode for a better view.</div>
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Round:</th>
      <th class="text-center" ng-repeat="heat in season.heats">#{{heat.delta+1}}</th>
      <th ng-if=season.should_adjust_score class="text-center">Adj.</th>
      <th class="text-center">Tot.</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="seasonPoint in season.points | orderBy:(season.should_adjust_score ? 'adjusted_points' : 'points'):true" class="{{isFirstRookie(seasonPoint.player_id)}}">
      <td class="index-cell">{{getPosition($index, (season.should_adjust_score ? seasonPoint.adjusted_points : seasonPoint.points))}}</td>
      <td><a href="/players/{{seasonPoint.player_id}}" ng-bind-html="(nameForPlayer(seasonPoint.player_id))">{{ (nameForPlayer(seasonPoint.player_id)) }}</a></td>
      <td class="text-center" ng-repeat="heat in season.heats">
        {{pointsForPlayerForHeat(heat.points, seasonPoint.player_id)}}
      </td>
      <td ng-if=season.should_adjust_score class="text-center"><b>{{seasonPoint.adjusted_points}}</b></td>
      <td class="text-center">
        <span ng-show=season.should_adjust_score>{{seasonPoint.points}}</span>
        <b ng-hide=season.should_adjust_score>{{seasonPoint.points}}</b>
      </td>
    </tr>
  </tbody>
</table>
